/* Tailwind */
@import "tailwindcss";

@plugin '@tailwindcss/forms';

@theme inline {
  --font-sans:
    var(--font-baloo), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Variables */
:root {
  --color-bg: #eef0f1;
  --color-pink-500: #ec4899;
}

/* Globals */
html {
  scroll-behavior: smooth;
}

html,
body,
#__next {
  height: 100%;
}

/* Hide Google reCaptcha */
/* .grecaptcha-badge {
  visibility: hidden;
} */

/* Loader */
.spinner {
  @apply size-12 animate-spin rounded-full;

  border: 10px solid var(--color-bg);
  border-top: 10px solid var(--color-pink-500);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Scale Animation on Hover */
.scale:hover {
  animation: scale 1.2s ease-in-out infinite alternate;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
