h1,
h2,
h3,
p,
span {
  text-align: center;
}

.Header-logo {
  height: 40vh;
}

.Header-bg {
  background-image: url('assets/header/bg-header.jpg');
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  color: #fff;
}

a:hover {
  transform: scale(1.1);
}
