.hero-logo {
  height: 250px;
}

.hero-bg {
  background-image: url('assets/header/bg-header.jpg');
  background-size: cover;
  background-position: center center;
  min-height: 80vh;
  color: #fff;
}

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.grid-1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}
@media (min-width: 960px) {
  .grid-1 {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
  }
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}
@media (min-width: 960px) {
  .grid-2 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}
@media (min-width: 960px) {
  .grid-3 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
}
