@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
}

/* Globals */

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.grid__3 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

@media (min-width: 1280px) {
  .grid__3 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
}
