/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables */
:root {
  --color-bg: #eef0f1;
  --color-pink-500: #ec4899;
}

/* Globals */
body {
  scroll-behavior: smooth;
}

/* Hide Google reCaptcha */
.grecaptcha-badge {
  visibility: hidden;
}

/* Loader */
.loader {
  @apply w-12 h-12 rounded-full animate-spin;

  border: 10px solid var(--color-bg);
  border-top: 10px solid var(--color-pink-500);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
